<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootstrap 5 Registration Form Example</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container-fluid vh-100" style="margin-top:300px">
            <div class="" style="margin-top:200px">
                <div class="rounded d-flex justify-content-center">
                    <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                        <div class="text-center">
                            <h3 class="text-primary">Create Account</h3>
                        </div>
                        <div class="p-4"> 
                            <%= form_with model: @user  do |form| %>   
                                <div class="Form-section">
                                    <p class="FormInput-label">Choose a Role:</p>   
                                </div> 
                                <div>
                                </div>
                                <%= form.collection_select :role_id, Role.all, :id, :role_type %>
                                <p >first name:</p>
                                    <div class="input-group mb-3">                                     
                                        <span class="input-group-text bg-primary"><i
                                        class="bi bi-person-plus-fill text-white"></i></span>                              
                                        <%= form.text_field :first_name  %>
                                    </div>
                                <p >last name:</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-person-plus-fill text-white"></i></span>
                                        <%= form.text_field :last_name %>
                                    </div>
                                <p >email:</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-envelope text-white"></i></span>
                                        <%= form.email_field :email %>
                                    </div>
                                <p >password:</p>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-primary"><i
                                                class="bi bi-key-fill text-white"></i></span>
                                        <%= form.password_field :password %>
                                    </div>
                                    <div class="d-grid col-12 mx-auto">
                                        <%= form.submit "Sign up", class: "btn btn-primary" %>
                                    </div>                             
                            <% end %>  
                            <div style="display: flex; margin-top:20px; margin-left:200px;">
                                <%= button_to "signin", new_session_path , method: "get" , style:"color:#ff00de ;font-weight: bold;background-color: #00ffbb;margin-left:140px;", class:"btn btn-warning"%> 
                            </div>                                                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
