<main class="ResturantPageMain">
    <div style="width: 500px; position: absolute;top: 50%;left: 30%;transform: translate(-50%,-50%); height:450px; margin-left: 300px; padding:40px; background-color: #57dd31;" >
        <h1 class="ResturantPage-title" style="color: #d61414;background-color: #eac2ea; width:350px;margin-left:10px;">Edit Restaurant</h1>
        <article class="article1" >
            <div style="display:flex;margin-left:10px;">
                <%= form_with(model: @restaurant, local:true) do |form| %>            
                    <div class="card" style="width:400px; background-color:yellow;">
                        <div style="margin:10px;">
                            <div>
                            <%= form.select :veg_restaurant, [["Veg Restaurant", true], ["Non Veg Restaurant", false]] %>
                            </div>
                            <div class="flex1">
                            <p>Restaurant Name: </p>
                                <%= form.text_field :restaurant_name  %>
                            <p> Restaurant Address: </p>
                                <%= form.text_field :address  %>
                            </div>
                            <div class="flex2">
                                <p> Opening time </p>
                                <%= form.time_field :opening_time  %>
                                <p> closing time </p>
                                <%= form.time_field :closing_time  %>
                            </div>
                            <div class="flex3">
                                    <%= button_to "Add", restaurant_path , method: "put" , style:"color:#ff00de ;font-weight: bold;background-color: #00ffbb;"%>     
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div style="display: flex;">
                <%= button_to "back", restaurants_path , method: "get" , style:"color:#ff00de ;font-weight: bold;background-color: #00ffbb;margin-left:440px;", class:"btn btn-warning"%> 
            </div>
        </article>
        <div style="display: flex;color:#ff00de ;font-weight: bold;background-color: #00ffbb;margin-left:440px; width:50px;">
            <%= link_to 'back', restaurants_path %>
        </div>
    </div>
</main>